/* Objects: Container
 * Container layout object
 */

.o-container {
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacing-md);
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .o-container {
    padding: 0 var(--spacing-sm);
  }
}
